{% extends 'main.html' %} {% block content %}

<section class="md:w-4/5 mx-auto my-8">
  <h1 class="text-5xl text-center font-medium">My Account</h1>
  <div class="mt-8">
    <img
      class="h-60 w-60 object-cover rounded-full mx-auto my-5"
      src="{{ user.avatar.url }}"
    />
    <div class="flex flex-row text-sm md:text-base justify-center">
      <a
        class="px-3 py-5 rounded-md block w-36 m-3 bg-secondary-400 hover:bg-secondary-700 text-white text-center"
        href="{% url 'edit-account' %}"
        >Edit</a
      >
      <a
        class="px-3 py-5 rounded-md block w-36 m-3 bg-secondary-400 hover:bg-secondary-700 text-white text-center"
        href="{% url 'change-password' %}"
        >Reset Password</a
      >
      <a
        class="px-3 py-5 rounded-md block w-36 m-3 bg-secondary-400 hover:bg-secondary-700 text-white text-center"
        href="{% url 'profile' user.id %}"
        >View Profile</a
      >
    </div>
  </div>
  <div class="my-2">
    <h3 class="font-medium text-3xl my-3">My Events</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {% for event in user.events.all %}
      <a
        class="text-base md:text-lg md:hover:text-xl transition-all duration-750"
        href="{% url 'event' event.id %}"
        >- {{ event.name }}</a
      >
      {% empty %}
      <p>You haven't registered for any events</p>
      {% endfor %}
    </div>
  </div>
  <div class="my-2">
    <h3 class="font-medium text-3xl my-3">My Submissions</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {% for sub in user.submissions.all %}
      <a
        class="text-lg hover:text-xl transition-all duration-750"
        href="{% url 'update-submission' sub.id %}"
        >- {{ sub.event.name }}</a
      >
      {% empty %}
      <p>You haven't submitted any projects yet</p>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
