{% extends 'main.html' %} {% block content %}
<h1 class="font-medium text-3xl text-center md:text-left mt-7 mb-5">
  Reset Password
</h1>
<form method="POST">
  {% csrf_token %}
  <div class="my-5 flex flex-col max-w-lg">
    <label class="text-lg font-semibold">Password</label>
    <input type="password" name="password1" />
  </div>
  <div class="my-5 flex flex-col max-w-lg">
    <label class="text-lg font-semibold">Confirm Password</label>
    <input type="password" name="password2" />
  </div>
  <div class="my-5 flex flex-col max-w-lg">
    <input
      class="px-1 py-3 rounded-md block w-36 m-3 bg-secondary-400 hover:bg-secondary-700 text-white text-center cursor-pointer"
      type="submit"
      value="Change Password"
    />
  </div>
</form>
{% endblock content %}
