{% extends 'main.html' %} {% block content %}
<div class="mt-10 mb-3">
  <img
    class="h-60 w-60 object-cover rounded-full mx-auto"
    src="{{ user.avatar.url }}"
  />
  <h1 class="font-medium text-4xl md:text-5xl mt-8 text-center">
    {{ user.name }}
  </h1>
</div>
<div class="my-3 flex flex-row gap-8 justify-center">
  {% if user.twitter %}
  <div>
    <a
      class="text-xl hover:text-slate-700"
      href="{{ user.twitter }}"
      target="_blank"
      >Twitter</a
    >
  </div>
  {% endif %} {% if user.linkedin %}
  <div>
    <a
      class="text-xl hover:text-slate-700"
      href="{{ user.linkedin }}"
      target="_blank"
      >Linkedin</a
    >
  </div>
  {% endif %} {% if user.github %}
  <div>
    <a
      class="text-xl hover:text-slate-700"
      href="{{ user.github }}"
      target="_blank"
      >Github</a
    >
  </div>
  {% endif %} {% if user.website %}
  <div>
    <a
      class="text-xl hover:text-slate-700"
      href="{{ user.website }}"
      target="_blank"
      >Website</a
    >
  </div>
  {% endif %}
</div>
{% if user.bio %}
<div
  class="my-3 w-11/12 md:w-1/2 mx-auto border border-slate-400 shadow-lg p-5"
>
  <p>{{ user.bio }}</p>
</div>
{% endif %} {% endblock content %}
