{% extends 'main.html' %} {% block content %}
<div class="flex flex-row justify-center mt-8">
  <h1 class="font-medium text-4xl md:text-5xl">Dev Realm Seminars</h1>
  <img
    class="h-12 w-16 ml-3 mt-1"
    src="https://devrealm-bucket.s3.amazonaws.com/images/seminars-header.png"
    alt="Seminar Graphic"
  />
</div>
<h3 class="font-medium text-3xl text-center md:text-left mt-3">
  Active Events
</h3>
<div class="grid md:grid-cols-3 gap-8 sm:grid-cols-1 my-8">
  {% for event in active_events %}
  <a href="{% url 'event' event.id %}">
    <div
      class="border border-secondary-500 px-4 pt-5 pb-2 min-h-[400px] rounded-md flex flex-col justify-between"
    >
      <img
        class="h-36 w-36 object-cover rounded-full mx-auto"
        src="{{ event.cover_photo.url }}"
        alt="Event Cover Photo"
      />
      <div>
        <h3 class="font-medium text-2xl text-center">{{ event.name }}</h3>
        <p class="text-center mt-3 text-lg">
          Registration deadline: {{ event.registration_deadline }}
        </p>
      </div>
      <p class="text-right mt-2">
        {{ event.participants.all.count }} registered
      </p>
    </div>
  </a>
  {% endfor %}
</div>

<h3 class="font-medium text-3xl text-center md:text-left mt-3">Past Events</h3>
<div class="grid md:grid-cols-3 gap-8 sm:grid-cols-1 my-8">
  {% for event in past_events %}
  <a href="{% url 'event' event.id %}">
    <div
      class="border border-secondary-500 px-4 pt-5 pb-2 min-h-[400px] rounded-md flex flex-col justify-between"
    >
      <img
        class="h-36 w-36 object-cover rounded-full mx-auto"
        src="{{ event.cover_photo.url }}"
        alt="Event Cover Photo"
      />
      <div>
        <h3 class="font-medium text-2xl text-center">{{ event.name }}</h3>
        <p class="text-center mt-3 text-lg">
          Registration deadline: {{ event.registration_deadline }}
        </p>
      </div>
      <p class="text-right mt-2">
        {{ event.participants.all.count }} registered
      </p>
    </div>
  </a>
  {% endfor %}
</div>
{% endblock %}
